<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Conceptos Básicos</title>
    <link rel="stylesheet" href="../css/style.css">

	
	
	
</head>

<body>

    
    <nav>
		<img id="menu-logo" src="../images/logo.png">
        <h3 align="left" id="menu-title">Seguridad inform&aacute;tica</h3>
        <ul>
            <li><a href="../views/concepts.html">Conceptos b&aacute;sicos</a></li>
            <li><a href="necesity.html">Necesidad</a></li>
            <li><a href="resources.html">Recursos</a></li>
        </ul>
    </nav>

	<main>
		
    </main>

   
     <footer>
        <p>©OVI_UNAD. All rights reversed.</p>
    </footer>  


</body>

</html>
