<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Seguridad informatica</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">

</head>

<body>
    <img id="menu-logo" src="../images/logo.png">
    <nav>
        <h3 id="menu-title">Seguridad inform&aacute;tica</h3>
        <ul>
            <li>
                <div id="sfcnwxry38etwn3meb2jjk39tpext5ag6a1"></div><script type="text/javascript" src="https://counter5.wheredoyoucomefrom.ovh/private/counter.js?c=nwxry38etwn3meb2jjk39tpext5ag6a1&down=async" async></script><noscript><a href="https://www.contadorvisitasgratis.com" title="contador de visitas para web"><img src="https://counter5.wheredoyoucomefrom.ovh/private/contadorvisitasgratis.php?c=nwxry38etwn3meb2jjk39tpext5ag6a1" border="0" title="contador de visitas para web" alt="contador de visitas para web"></a></noscript>
            </li>
            <li><a href="">Conceptos b&aacute;sicos</a></li>
            <li><a href="../views/necesity.html">Necesidad</a></li>
            <li><a href="../views/resources.html">Recursos</a></li>
        </ul>
    </nav>
    <div class="container-fluid">
    	<div class="row">
    		<div class="col col-lg-12"><br></div>
    	</div>

    	<div class="row">
    		<div class="col-md" id="colum">

    			<div id="subcont" >
    				<img src="../images/si.jpg"  id="icono" class="img-fluid img-thumbnail" >

    				<p class="text-justify">
    					La seguridad informática debe establecer normas que minimicen los riesgos a la información o infraestructura informática. Estas normas incluyen horarios de funcionamiento, 
						restricciones a ciertos lugares, autorizaciones, denegaciones, perfiles de usuario, planes de emergencia, 
						protocolos y todo lo necesario que permita un buen nivel de seguridad informática minimizando el impacto en el desempeño de los trabajadores y de la organización en general y como principal contribuyente al uso de programas realizados por programadores.
    				</p>

    			</div>

    		</div>

    		<div class="col-md" id="colum"> 
    			<div id="subcont" >
    				<img src="../images/ana.jpg" class="img-fluid img-thumbnail" id="icono">
    				<p class="text-justify"> 
    					El análisis de riesgos informáticos es un proceso que comprende la identificación de activos informáticos, sus vulnerabilidades y amenazas a los que se encuentran expuestos así como su probabilidad de ocurrencia y el impacto de las mismas, a fin de determinar los controles adecuados para aceptar, disminuir, transferir o evitar la ocurrencia del riesgo.
						Teniendo en cuenta que la explotación de un riesgo causaría daños o pérdidas financieras o administrativas a una empresa u organizaciónr estimar la magnitud del impacto del riesgo a que se encuentra expuesta mediante la aplicación de controles. 
    				</p>

    			</div>


    		</div>
    	</div>

    	<!-- espacio entre las 2 filas -->
    	<div class="row">
    		<div class="col col-lg-12"><br> </div>
    	</div>

    	<!-- Columnas -->
    	<div class="row">
    		<div class="col-md" id="colum"> 
    			<div id="subcont" >
    				<img src="../images/map.png" class="img-fluid img-thumbnail" id="icono">
    				<p class="text-justify"> 
    					El activo más importante que se posee es la información y, por lo tanto, deben existir técnicas que la aseguren, 
						más allá de la seguridad física que se establezca sobre los equipos en los cuales se almacena. Estas técnicas las brinda la seguridad lógica que consiste en la aplicación de barreras y procedimientos que resguardan el acceso a los datos y solo permiten acceder a ellos a las personas autorizadas para hacerlo.
    				</p>

    			</div>


    		</div>
    		<div class="col-md" id="colum">
    			<div id="subcont" >
    				<img src="../images/informatica.jpg" class="img-fluid img-thumbnail" id="icono">
    				<p class="text-justify"> 
    					El sistema informático de una empresa para ser considerado seguro debe ser íntegro y confidencial (accesible sólo para personas autorizadas), 
						irrefutable (las acciones realizadas no se pueden negar) y tener buena disponibilidad (estable y disponible en el tiempo).La Seguridad Informática sirve para la protección de la información, 
						en contra de amenazas o peligros, para evitar daños y para minimizar riesgos, relacionados con ella.

    				 </p>

    			</div>

    		</div>
    	</div>
    
    </div>

	 <footer>
	    <p id="corp">©OVI_UNAD. All rights reversed.</p>
	 </footer>

</body>
</html>
