<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<title>Necesidad - Seguridad inform&aacute;tica</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	 crossorigin="anonymous">
</head>

<body>

	<img id="menu-logo" src="../images/logo.png">
	<nav>
		<h3 id="menu-title">Seguridad inform&aacute;tica</h3>
		<ul>
			<li>
				<div id="sfcnwxry38etwn3meb2jjk39tpext5ag6a1"></div>
				<script type="text/javascript" src="https://counter5.wheredoyoucomefrom.ovh/private/counter.js?c=nwxry38etwn3meb2jjk39tpext5ag6a1&down=async"
				 async></script><noscript><a href="https://www.contadorvisitasgratis.com" title="contador de visitas para web"><img
						 src="https://counter5.wheredoyoucomefrom.ovh/private/contadorvisitasgratis.php?c=nwxry38etwn3meb2jjk39tpext5ag6a1"
						 border="0" title="contador de visitas para web" alt="contador de visitas para web"></a></noscript>
			</li>
			<li><a href="concepts.html">Conceptos b&aacute;sicos</a></li>
			<li><a href="#">Necesidad</a></li>
			<li><a href="resources.html">Recursos</a></li>
		</ul>
	</nav>

	<a class="twitter-timeline" href="https://twitter.com/UniversidadUNAD" data-widget-id="302069386464870402">Tweets por
		@Universidad UNAD</a>

	<div class="container-fluid">
		<br>
		<header>
			<section class="color1">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
							<iframe width="420" height="315" src="https://www.youtube.com/embed/KiuTyXehW-8">
							</iframe>
						</div>
						<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
							<p>
								<p id="titulo">La necesidad de la seguridad inform&aacute;tica</p>

								<p id="texto">
									El computador se ha convertido en una de las principales herramientas de trabajo del ser humano para
									comunicar, procesar o almacenar su información. Este medio también se presta para que otras personas roben
									información importante como contraseñas, contactos de clientes, estrategias de competitividad, planificación
									de un ataque militar, etc. Por esto es necesario saber cómo prevenir un ataque informático
								</p>
							</p>
						</div>
					</div>
				</div>
			</section>
		</header>
	</div>

	<footer>
		<p id="corp">©OVI_UNAD. All rights reversed.</p>
	</footer>
</body>

</html>