<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<title>Necesidad1</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	 crossorigin="anonymous">
</head>

<body>

	<img id="menu-logo" src="../images/logo.png">
	<nav>
		<h3 id="menu-title">Seguridad inform&aacute;tica</h3>
		<ul>
			<li><a href="concepts.html">Conceptos b&aacute;sicos</a></li>
			<li><a href="views/necesity.html">Necesidad</a></li>
			<li><a href="views/resources.html">Recursos</a></li>
		</ul>
	</nav>
	<div class="container-fluid">
		<br>
		<header>
			<section class="color1">
				<div class="contenedor">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<iframe width="720" height="480" src="https://www.youtube.com/watch?v=JXDUKotmsWQ" frameborder="0" allowfullscreen></iframe>
							<!-- <video controls class="video-responsive"> -->
								<!-- <source src="https://www.youtube.com/watch?v=JXDUKotmsWQ" type="video/mp4"> -->
							<!-- </video> -->
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<p>
								<p id="titulo">Sobre la Seguridad Informática.</p>

								<p id="texto">En los tiempos que corren es absolutamente necesario, proyectar medidas de seguridad en 		nuestra
									vida digital, el presente vídeo nos mostrara algunos consejos para ponerlos en practica y de esta forma
									salvaguardar nuestros datos.

									Saludos!
								</p>
							</p>
						</div>
					</div>
				</div>
			</section>
		</header>
	</div>

	<footer>
		<p id="corp">©OVI_UNAD. All rights reversed.</p>
	</footer>
</body>

</html>