<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<title>Recursos - Seguridad inform&aacute;tica</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	 crossorigin="anonymous">
</head>

<body>

	<img id="menu-logo" src="../images/logo.png">
	<nav>
		<h3 id="menu-title">Seguridad inform&aacute;tica</h3>
		<ul>
			<li>
				<div id="sfcnwxry38etwn3meb2jjk39tpext5ag6a1"></div>
				<script type="text/javascript" src="https://counter5.wheredoyoucomefrom.ovh/private/counter.js?c=nwxry38etwn3meb2jjk39tpext5ag6a1&down=async"
				 async></script><noscript><a href="https://www.contadorvisitasgratis.com" title="contador de visitas para web"><img
						 src="https://counter5.wheredoyoucomefrom.ovh/private/contadorvisitasgratis.php?c=nwxry38etwn3meb2jjk39tpext5ag6a1"
						 border="0" title="contador de visitas para web" alt="contador de visitas para web"></a></noscript>
			</li>
			<li><a href="concepts.html">Conceptos b&aacute;sicos</a></li>
			<li><a href="necesity.html">Necesidad</a></li>
			<li><a href="#">Recursos</a></li>
		</ul>
	</nav>

	<a class="twitter-timeline" href="https://twitter.com/UniversidadUNAD" data-widget-id="302069386464870402">Tweets por
		@Universidad UNAD</a>
	
	<br/>
	<br>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md" id="colum">

				<div id="subcont">

					<a href="https://www.top10vpn.com/mejores-vpn/?bsid=c47se1kw274&gclid=Cj0KCQjwlqLdBRCKARIsAPxTGaXXm2bbdh4ewuzF_WY96iupYzlyBgpPQ5-2_6CVGgDBQh65lVplZvUaAmcCEALw_wcB">VPN</a>
					<p class="text-justify">
						Permite crear una red privada que se utiliza para conectar una o más computadoras mediante internet. Así se prevé
						que un tercero robe información confidencial. Generalmente se usa en las empresas
					</p>

				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md" id="colum">
				<div id="subcont">
					<a href="https://www.top10antivirussoftware.com/?UTM_SOURCE=GOOGLE&KW=ANTIVIRUS&C=237427237374&T=SEARCH&P=&M=P&ADPOS=1T4&DEV=C&DEVMOD=&MOBVAL=0&NETWORK=G&CAMPAIGNID=360902545&ADGROUPID=46611507495&TARGETID=AUD-290144527905:KWD-1530208330&INTEREST=&PHYSICAL=1003668&FEEDID=&A=677&TS=LATAM&IV_=__IV_P_1_A_360902545_G_46611507495_W_AUD-290144527905:KWD-1530208330_H_1003668_II__D_C_V__N_G_C_237427237374_K_ANTIVIRUS_M_P_L__T__E__R_1T4_VI__&R=6189677938111462304&GCLID=CJ0KCQJWLQLDBRCKARISAPXTGAUGPL_GC92JYR32JZSN4CIAAOZZTESDTB6S-X4X0IW-MDVPQAOIBCSAALIZEALW_WCB&GCLSRC=AW.DS">
						Antivirus
					</a>
					<p class="text-justify">
						Herramienta de seguridad que ayuda a proteger una computadora contra virus informáticos como: Troyanos, gusanos, etc
					</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md" id="colum">

				<div id="subcont">

					<a href="https://tecnologia-informatica.com/que-es-firewall-como-funciona-tipos-firewall/">Firewall por hardware</a>
					<p class="text-justify">
						Sistema que permite proteger una computadora contra ataques piratas, mediante un filtro de paquetes de datos que andan por la red
					</p>

				</div>
			</div>
		</div>
	</div>

	<footer>
		<p id="corp">©OVI_UNAD. All rights reversed.</p>
	</footer>
</body>

</html>